# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# Environment variable files
.env

# VS Code / PyCharm settings
.vscode/
.idea/

# Python packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Logs and local data
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# System files
.DS_Store
Thumbs.db
